* {
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}

header{
    height: auto;
    background-color: hsla(55, 10%, 100%);
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
}

nav .btlink{
    
   display: none;
}

ul{
   display: flex;
   list-style-type: none;
   margin: 5px;
   padding-right: 30px;
   font-size: 20px;
   padding-top: 10px;
}
ul li a{
    font-family: 'Roboto', sans-serif;
    margin: 0 25px;
    padding-top: 5px;
    color: hsla(0, 0%, 29%, 1);
    font-size: 1rem;
    line-height: 1.6;
    text-decoration: none;
}

ul li a:hover{
   color: hsla(72, 90%, 40%, 1);
   transition: 0.5s;
}
li img {
    margin: 0;
   
 }
.container .logo {
   padding-left: 30px;
  
}
.card{
    background-color: hsla(72, 90%, 40%, 1);
    width: 650px;
    position: relative;
    top: 170px;
    left: 100px;
}
.card .cardtext1{
    font-style: italic;
    text-align: center;
    padding-top: 52px;
   color: hsla(360, 100%, 100%, 1);
}
.card .cardtext2{
    font-family: 'Rubik', sans-serif;
   font-size: 3rem;
   line-height: 1.4;
   text-align: center;
   margin-top: 12px;
   color: hsla(360, 100%, 100%, 1);
}
.card .cardtext3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
    color: hsla(360, 100%, 100%, 1);
}
.card .cardtext4{
    font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   line-height: 1.4;
margin: 26px 80px 56px 80px;
   padding: 10px;
   text-align: center;
   padding-bottom: 50px;
   color: hsla(360, 100%, 100%, 1);
}
.cardbg{
    background-image: url('banner-landingpage.jpg');
    background-size: cover;
    height: 700px;
}
.feature{
    display: flex;
    background-color:rgb(235, 235, 235);
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;

}

.feature img{
    width: 75%;
    height: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 52px;


} 
.feature .feature1{
    background-color: aliceblue;
    width: 660px;
} 

.feature .feature2{
    background-color: aliceblue;
    width: 660px;
} 
.feature h1{
   text-align: center;
   font-size: 1.6rem;
   font-family: 'Roboto', sans-serif;
  color: hsla(0, 0%, 29%, 1);
  margin-top: 40px;
} 

.feature p{
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: hsla(0, 0%, 29%, 1);
  padding-bottom: 50px;
  
} 
.gallery{
    background-color: hsla(0, 0%, 19%, 1);
    
}
.gallerytext h1{
    padding-top: 50px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 100%, 1);
    text-align: center;
    font-size: 2rem;
}
.gallerytext p{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 100%, 1);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
}
.imagecenter{
    display: flex;
   justify-content: center;
}
.imagecenter img{
    width: 370px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bdtext{
    background-color: hsla(0, 0%, 89%, 1);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 160px;
}
.bdtext p{
    
    color: #4a4a4a;
    font-style: italic;
    line-height: 1.1;
    margin-right: 30px;
    font-size: 1.8rem;
   
}

footer{
    background-color: hsla(0, 0%, 29%, 1);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
padding: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  
  .card{
    background-color: rgba(157, 194, 10, 0);
    width: 650px;
    position: relative;
    top: 240px;
    left: 100px;
    
}
.card .cardtext1{
    font-style: italic;
    text-align: center;
    padding-top: 52px;
   color: hsla(360, 100%, 100%, 1);
   justify-items: center;
}
.card .cardtext2{
    font-family: 'Rubik', sans-serif;
   font-size: 3rem;
   line-height: 1.4;
   text-align: center;
   margin-top: 12px;
   color: hsla(360, 100%, 100%, 1);
   justify-items: center;
}

.card .cardtext3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
    color: hsla(360, 100%, 100%, 1);
    display: none;
 
}
.card .cardtext4{
    font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   line-height: 1.4;
margin: 26px 80px 56px 80px;
   padding: 10px;
   text-align: center;
   padding-bottom: 50px;
   color: hsla(360, 100%, 100%, 1);
   display: none;
}

  nav .btlink{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 13px;
    margin-right: 22px;
    padding: 3px 3px;
    margin-bottom: 14px;
    background-color: hsla(72, 90%, 40%, 1);
    color: hsla(109, 100%, 100%, 1);
    justify-items: center;
    font-size: 1rem;
    position: relative;
   display: block;
   border-radius: 3px;
}

.imagecenter img{
    width: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bdtext p{
    
    color: #4a4a4a;
    font-style: italic;
    line-height: 1.1;
    margin-right: 30px;
    font-size: 1.5rem;
   
}

}

@media screen and (max-width:767px){
    ul li a{
        font-family: 'Roboto', sans-serif;
        margin: 0 15px;
        padding-top: 5px;
        color: hsla(0, 0%, 29%, 1);
        font-size: 1rem;
        line-height: 1.6;
        text-decoration: none;
    }

    nav .btlink{
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        margin-top: 13px;
        margin-right: 22px;
        padding: 3px 3px;
        margin-bottom: 14px;
        background-color: hsla(72, 90%, 40%, 1);
        color: hsla(109, 100%, 100%, 1);
        justify-items: center;
        font-size: 1rem;
        position: relative;
       display: block;
       border-radius: 2px;
    }

    .feature{
        display: block;
        background-color:rgb(235, 235, 235);
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 25px;
    
    }
    
    .feature img{
        width: 75%;
        height: 40%;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
        padding-top: 52px;
    
    
    } 
    .feature .feature1{
        background-color: aliceblue;
        width: 660px;
    } 
    
    .feature .feature2{
        background-color: aliceblue;
        width: 660px;
    } 

    .card{
        background-color: rgba(157, 194, 10, 0);
        width: 650px;
        position: relative;
        top: 240px;
        left: 5px;
        
    }
    .card .cardtext1{
        font-style: italic;
        text-align: center;
        padding-top: 52px;
       color: hsla(360, 100%, 100%, 1);
       
    }
    .card .cardtext2{
        font-family: 'Rubik', sans-serif;
       font-size: 3rem;
       line-height: 1.4;
       text-align: center;
       margin-top: 12px;
       color: hsla(360, 100%, 100%, 1);
     
    }
    
    .card .cardtext3{
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        line-height: 1.4;
        text-align: center;
        color: hsla(360, 100%, 100%, 1);
        display: none;
        
     
    }
    .card .cardtext4{
        font-family: 'Roboto', sans-serif;
       font-size: 1rem;
       line-height: 1.4;
    margin: 26px 80px 56px 80px;
       padding: 10px;
       text-align: center;
       padding-bottom: 50px;
       color: hsla(360, 100%, 100%, 1);
       display: none;
    }
    
    .imagecenter img{
        width: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .bdtext p{
        
        color: #4a4a4a;
        font-style: italic;
        line-height: 1.1;
        margin-right: 4px;
        margin-left: 30px;
        font-size: 1rem;
       
    }

    .gallerytext h1{
        padding-top: 50px;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        color: hsla(0, 0%, 100%, 1);
        text-align: center;
        font-size: 1.8rem;
    }
    .gallerytext p{
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        color: hsla(0, 0%, 100%, 1);
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
    }

    .bdtext{
        background-color: hsla(0, 0%, 89%, 1);
        color: aliceblue;
        display: block;
       height: 130px;
       padding-top: 25px;
    }
    .bdtext p{
    
        color: #4a4a4a;
        font-style: italic;
        line-height: 1.1;
        margin-right: 30px;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 20px;
       
    }
    .bdtext img{
        display: block;
        margin: 0 auto;
    }
}